@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200;300;400;500;600;700;800&display=swap');

*{
    font-family: 'Urbanist', sans-serif;
}

body {
    box-sizing: border-box;
}

h1{
    color:#47555e;
    margin: 20px 0;
    padding-bottom: 20px;
    text-align: center;

}
.d-flex input {
    margin: .9em 0.1em;
}

.d-flex button {
    margin: 1.5em 0.1em;
    padding: .1em 2.5em;
}

.d-flex table {
    margin: 1em 10em;
}

table .btnedit {
    color: lightgreen;
    cursor: pointer;
}

table .btndelete {
    color: tomato;
    cursor: pointer;
}
.container {
    width: 100%;
    /* overflow: hidden; Pour contenir les éléments flottants */
}
.left{
    float: left;
    width: 50%;
}

.right {
    float: right;
    width: 50%;
}

/* messages */
.updatemsg,
.deletemsg,
.insertmsg {
    position: absolute;
    top: -40px;
}

.movedown {
    animation: slideup 3.4s ease;
}

@keyframes slideup {
    50% {
        top: 0
    }

    100% {
        top: -40px;
    }
}

/* Style for screens with a max width of 768px */
@media screen and (max-width: 768px)  {
    .containerr{
        width: 120%;
    }
    h1{
        width: 100%;
        font-size: 2rem;
    }
    
    .left{
        width: 120%;
    }
    
    .right {
        width: 99%;
    }
    
    .d-flex input {
        margin: .9em 0.1em;
    }
    
    .d-flex button {
        
        justify-content: space-between;

        margin: 0.1em 0.5em;
        padding: .1em 0.5em;
    }
    
    .d-flex table {
        width: 15%;
        margin: 1em 0.1em;
    }
  }
 /* Style for screens with a minimum width of 768px */
 @media screen and (min-width: 768px) and (max-width: 1024px) {
    .containerr{
        width: 100%;
    }
    h1{
        justify-content: center;
        font-size: 2rem;
    }
    
    .left{
        float: left;
        width: 85%;
    }
    
    .right {
        float: right;
        width: 100%;
    }
    .d-flex {
        justify-content: space-between;

    }
  }